<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>
   Koszyk
</h1>
<div>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Kategoria</td>
            <td>Nazwa</td>

            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" product : ${products}">


            <td th:text="${product.id}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.name}" ></td>
            <td><a th:href="@{'/shoppingCart/removeProduct/{id}'(id=${product.id})}">Usuń produkt z koszyka</a></td>


        </tr>
        </tbody>
    </table>
</div>
</body>
</html>